main {
  position: relative;
  z-index: 1;
}

footer {
  background-image: url('https://res.cloudinary.com/dqsmxfeca/image/upload/v1734098754/Wedding/axgftgkvoqvkfw0xls3p.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  font-family: 'Oswald';
  margin-top: 200px;
  padding: 30px;
  z-index: 1;
  color: #fff;
  height: 800px;
}

footer h1{
  font-size: 3rem;
  font-family: 'Great Vibes';
  letter-spacing: 5px;
}

footer::before {
  position: absolute;
  content: "";
  background: #00000057;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

footer section {
  position: relative;
  z-index: 2;
  width: 15%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
}

footer section h2 {
  font-family: 'Great Vibes';
  font-size: 1.7rem;
  letter-spacing: 3px;
}

footer section:nth-child(3) {
  text-align: end;
  transform-origin: right;
}

footer section:nth-child(3) a {
  font-weight: normal;
  letter-spacing: normal;
  color: #fff;
}

footer section:nth-child(3) i {
  margin-right: 10px;
}

footer section:nth-child(2) {
  text-align: center;
  width: 40%;
}

footer section:nth-child(2) img {
  width: 150px;
  margin: auto;
}

footer section:nth-child(2) ul {
  display: flex;
  justify-content: space-evenly;
}

.middle-content ul li {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(253, 93, 93);
  background: #fff;
  transition: all .2s ease !important;
}

footer section:nth-child(2) ul li:hover {
  color: #fff;
  background: rgb(253, 93, 93);
}

footer section:nth-child(1) p:hover,
footer section:nth-child(3) a:hover,
footer section:nth-child(3) div:hover {
  letter-spacing: 3px;
  color: rgb(253, 93, 93);
  cursor: pointer;
}

@media (width<=768px) {
  footer section:nth-child(2){
    width: 80%;
  }
  .right-contact,
  .left-link {
    display: none;
  }
}

@media (width<=550px) {
  footer{
    margin-top: 120px;
  }
}