.gallery-page h1 {
  font-family: 'Great Vibes';
  text-align: center;
  margin: 100px 0 15px 0;
  font-size: 3rem;
  letter-spacing: 3px;
}

.gallery-page p {
  font-family: 'Oswald';
  text-align: center;
  margin-bottom: 50px;
  font-size: 1.5rem;
}

.gallery-holder {
  width: 70%;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    'gallery1 gallery2 gallery3 gallery4'
    'gallery5 gallery6 gallery7 gallery8';
  margin: auto;
}

.gallery img {
  width: 100%;
  transform: scale(1.02);
}

.gallery {
  grid-area: var(--i);
  border: 3px double rgb(187, 189, 152);
  cursor: pointer;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 15px rgb(187, 189, 152);
}

.gallery:hover img {
  transform: scale(1.2);
  filter: contrast(1.2);
  animation: fadeIn 2s ease;
}

@keyframes fadeIn {
  0% {
    opacity: .7;
  }

  100% {
    opacity: 1;
  }
}

.gallery-page button {
  width: auto;
  padding: 10px 50px;
  font-family: 'Oswald';
  font-size: 1.1rem;
  background: rgb(253, 93, 93);
  letter-spacing: 2px;
  border: none;
  outline: none;
  color: #fff;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 30px;
}

.gallery-page button:hover {
  background: rgb(187, 189, 152);
  outline: thin solid rgb(253, 93, 93);
}

@media (width<=1200px) {
  .gallery-holder {
    width: 90%;
    gap: 10px;
  }

  .decoration {
    padding-top: 10px;
  }
}

@media (width<=992px) {
  .gallery-holder {
    width: 70%;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'gallery1 gallery2 '
      'gallery3 gallery4'
      'gallery5 gallery6 '
      'gallery7 gallery8';
  }

  .decoration {
    padding-top: 10px;
  }
}

@media (width<=768px) {
  .gallery-holder {
    width: 70%;
    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-areas:
      'gallery1'
      'gallery2'
      'gallery3'
      'gallery4';
  }
  .gallery5, .gallery6,.gallery7,.gallery8{
    display: none;
  }

  .decoration {
    padding-top: 10px;
  }
  .gallery img{
    height: 500px;
  }
  .gallery .img-holder{
    height: 500px;
  }
}

@media (width<=450px) {
  .gallery-page{
    width: 100%;
    margin-bottom: 25px;
  }

  .gallery-holder{
    width: 100%;
    padding: 25px;
  }

  .gallery img{
    height: 600px;
  }

  .gallery .img-holder{
    height: 600px;
  }

  .gallery-page h1{
    margin: 0;
    font-size: 2rem;
    padding-top: 50px;
    letter-spacing: normal;
  }

  .gallery-page p{
    margin: 25px 0 0 0;
    padding: 0 25px;
    font-size: 1.2rem;
  }
  
  .gallery-page button{
    margin-top: 0;
  }
}