@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Oswald:wght@200..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  transition: .5s ease;
}

html {
  width: 100vw;
  scroll-behavior: smooth;
}

header {
  position: fixed;
  width: 100vw;
  height: 110px;
  z-index: 100;
  background: #fff;
  transition: .5s ease;
}

nav {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  box-shadow: 0 0 5px silver;
}

nav .logo img {
  height: 110px;
  cursor: pointer;
}

.logo,
.nav-menu,
.book-attendance {
  align-self: center;
  justify-self: center;
}

ul {
  display: flex;
  gap: 50px;
}

li {
  font-family: 'Great Vibes';
  font-size: 1.5rem;
}

li:hover a {
  color: rgb(253, 93, 93);
}

a.active {
  color: rgb(253, 93, 93);
}

a {
  color: rgb(94, 91, 91);
  font-weight: bold;
  letter-spacing: 2px;
}

header button {
  height: 40px;
  width: 200px;
  background: rgb(253, 93, 93);
  color: #fff;
  font-size: 1.1rem;
  letter-spacing: 2px;
  font-weight: 500;
  font-family: 'Oswald';
  border: none;
}

header button:hover {
  background: rgb(187, 189, 152);
  border: thin solid rgb(253, 93, 93);
}

.nav-toggle {
  transform: scale(0);
}

@media (width<=1200px) {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: none;
  }

  .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-bottom: 15px;
    cursor: pointer;
  }

  .nav-toggle {
    transform: scale(1);
    font-size: 30px;
    color: rgb(253, 93, 93);
    border: thin solid rgb(192, 192, 192);
    width: 40px;
    line-height: 40px;
    text-align: center;
  }

  .nav-menu {
    width: 80%;
  }

  nav ul {
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding-left: 25px;
  }

  nav ul li {
    align-items: start;
    font-size: 1.2rem;
    letter-spacing: 5px;
  }

  .book-attendance {
    width: 80%;
    padding-left: 25px;
    margin-top: 15px;
  }

  .book-attendance,
  .nav-menu {
    opacity: 0;
    display: none;
  }

  .active .nav-menu,
  .active .book-attendance {
    opacity: 1;
    display: block;
  }

  .active .logo{
    border-bottom: 2px solid rgba(192, 192, 192, 0.39);
  }

  header.active{
    height: auto;
    padding-bottom: 25px;
  }
}

@media (width<=575px) {
  .logo{
    width: 100%;
    padding: 0 25px;
  }
  .nav-toggle{
    transform: scale(1);
  }
}