body {
  background: #cccaca2c;
}

button {
  cursor: pointer;
}

main {
  top: 110px;
  z-index: 1;
  width: 100vw;
  height: auto;
}

main section {
  position: relative;
}

.decoration {
  position: relative;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
}

.decoration img {
  position: absolute;
  z-index: -1;
  top: 10px;
}

.decoration img:nth-child(1) {
  left: 10px;
}

.decoration img:nth-child(2) {
  right: 10px;
}

.decoration img:nth-child(3) {
  left: 50%;
  transform: translateX(-50%);
  height: 200px;
}

@media (width<=550px) {
  .decoration img{
    width: 100px;
  }
  .decoration img:nth-child(3){
    width: 200px;
    height: 125px !important;
  }
  main{
    top: 80px;
  }
}