.timeline-page {
  position: relative;
}

.planning {
  width: 70%;
  display: grid;
  row-gap: 50px;
  grid-template-rows: 100px auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    'titletl titletl titletl titletl'
    'event1 event2 event3 event4';
  margin: auto;
  margin-top: 100px;
  padding: 75px 0;
  z-index: 2;
}

.planning::after {
  content: "";
  width: 100%;
  height: 100%;
  background: rgb(187, 189, 152);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.timeline-deco {
  inset: 0;
  margin: auto;
  position: absolute;
  opacity: .5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.planning h1 {
  grid-area: titletl;
  align-self: center;
  text-align: center;
  font-family: "Great Vibes";
  font-size: 3rem;
  font-weight: bolder;
  color: #fff;
  letter-spacing: 5px;
}

.event {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  font-family: 'Oswald';
  padding: 25px;
  text-align: center;
}

.event i {
  padding: 15px;
  color: rgb(253, 93, 93);
  font-size: 3rem;
}

.event p:nth-child(3) {
  font-family: 'Great Vibes';
  font-size: 2.5rem;
}

.event p:nth-child(2) {
  font-size: 1.2rem;
  color: rgb(253, 93, 93);
}

.event1,
.event3 {
  border-left: thin solid #fff;
  border-top: thin solid #fff
}

.event2,
.event4 {
  border-left: thin solid #fff;
  border-bottom: thin solid #fff
}

.event1 {
  position: relative;
  grid-area: event1;
}

.event1::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid rgb(253, 93, 93);
  position: absolute;
  left: -7px;
  bottom: -12px;
}

.event2 {
  grid-area: event2;
}

.event3 {
  grid-area: event3;
}

.event4 {
  position: relative;
  grid-area: event4;
  border-right: thin solid #fff
}

.event4::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid rgb(253, 93, 93);
  position: absolute;
  right: -7px;
  top: -12px;
}

@media (width<=1200px) {
  .planning {
    width: 80%;
    grid-template-columns:1fr 1fr;
    grid-template-areas:
      'titletl titletl'
      'event1 event2'
      'event3 event4';
      gap: 15px;
      margin-top: 50px;
      padding: 25px;
  }

  .timeline-deco {
    z-index: -1;
  }
  .planning::after{
    z-index: -100;
  }
  .event{
    border: none;
    border:thin solid #fff ;
  }

  .event1::after,.event4::after{
    display: none;
  }
}

@media (width<=550px) {
  .timeline-deco img{
    height: 250px;
  }

  .planning{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 25px;
  }

  .planning h1{
    font-size: 2rem;
  }

  .event{
  }
}